<!-- main/templates/main.html -->
{% extends 'base.html' %}
{% block content %}
<div class="container mx-auto px-4">
    <h1 class="text-2xl font-bold mt-4">Daftar Pesanan</h1>
    <ul class="mt-4">
        {% for order in food_entries %}
            <li class="bg-white shadow-md rounded p-4 mb-4">
                <strong>Pesanan ID:</strong> {{ order.id }} <br>
                <strong>Nama Penerima:</strong> {{ order.nama_penerima }} <br>
                <strong>Alamat Pengiriman:</strong> {{ order.alamat_pengiriman }} <br>
                <strong>Status Pesanan:</strong> {{ order.status_pesanan }} <br>
                <a href="{% url 'manajemen_pesanan:get_order_by_id' order.id %}" class="text-blue-500 hover:underline">Lihat Detail</a>
            </li>
        {% empty %}
            <li>Tidak ada pesanan.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'manajemen_pesanan:create_order' %}" class="mt-4 inline-block bg-blue-500 text-white py-2 px-4 rounded">Buat Pesanan Baru</a>
</div>
{% endblock content %}
