<!-- main/templates/update_order.html -->
{% extends 'base.html' %}
{% block content %}
<div class="container mx-auto px-4">
    <h1 class="text-2xl font-bold mt-4">Update Status</h1>
    <div class="bg-white shadow-md rounded p-4 mb-4">
        <strong>Pesanan ID:</strong> {{ order.id }} <br>
        <strong>Nama Penerima:</strong> {{ order.nama_penerima }} <br>
        <strong>Alamat Pengiriman:</strong> {{ order.alamat_pengiriman }} <br>
        <strong>Status Pesanan:</strong> {{ order.status_pesanan }} <br>
    </div>
    <form method="post" class="mt-4 bg-white shadow-md rounded p-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="mt-4 bg-green-500 text-white py-2 px-4 rounded">Update Pesanan</button>
    </form>
<!-- 
    {% if form_submitted %}
    <p>Pesanan berhasil dikirim!</p>
    {% endif %} -->

    <!-- Tombol untuk selalu menampilkan riwayat pesanan -->

    <a href="{% url 'manajemen_pesanan:show_main' %}" class="mt-4 inline-block text-[#927155] hover:underline">Kembali ke Daftar Pesanan</a>
</div>

{% endblock content %}
