/* *
  * General menu
  */
/* Background colors */
:root {
  --brown-darkest: #3d200a;
  --brown-darker: #654a2d;
  --brown-mild: #927155;
  --brown-lighter: #cbbcb5;
  --brown-lightest: #e8dcd4;
}

.bg-brown-darkest {
  background-color: var(--brown-darkest);
}

.bg-brown-darker {
  background-color: var(--brown-darker);
}

.bg-brown-mild {
  background-color: var(--brown-mild);
}

.bg-brown-lighter {
  background-color: var(--brown-lighter);
}

.bg-brown-lightest {
  background-color: var(--brown-lightest);
}

.bg-brown-darkest:hover,
.hover\:bg-brown-darkest {
  background-color: var(--brown-darkest);
}

.bg-brown-darker:hover,
.hover\:bg-brown-darker {
  background-color: var(--brown-darker);
}

.bg-brown-mild:hover,
.hover\:bg-brown-mild {
  background-color: var(--brown-mild);
}

.bg-brown-lighter:hover,
.hover\:bg-brown-lighter {
  background-color: var(--brown-lighter);
}

.bg-brown-lightest:hover,
.hover\:bg-brown-lightest {
  background-color: var(--brown-lightest);
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-up-animation {
  opacity: 0;
  transform: translateY(20px);
  animation: slide-up 1s forwards;
}

