<!-- main/templates/create_order.html -->
{% extends 'base.html' %}
{% block content %}
<div class="container mx-auto px-4">
    <h1 class="text-2xl font-bold mt-4">Buat Pesanan Baru</h1>
    <form method="post" class="mt-4 bg-white shadow-md rounded p-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="mt-4 bg-green-500 text-white py-2 px-4 rounded">Kirim Pesanan</button>
    </form>
    <a href="{% url 'main:show_main' %}" class="mt-4 inline-block text-blue-500 hover:underline">Kembali ke Daftar Pesanan</a>
</div>
{% endblock content %}
