{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Homepage - Daftar Makanan</title>
{% endblock meta %}

{% block content %}
<body class="bg-[#3d200a] text-[#3d200a]">
{% include 'navbar.html' %}
<div class="container mx-auto p-8 mt-20">
  <div class="flex items-center justify-between">
    <h1 class="text-4xl font-extrabold text-[#e8dcd4]">Daftar Makanan</h1>
  </div>

  <ul class="mt-8 space-y-4">
    <!-- {% for food in foods %} -->
    <li class="p-6 bg-[#e8dcd4] rounded-lg shadow-md">
      <!-- <h2 class="text-2xl font-bold text-[#3d200a]">{{ food.name }}</h2>
      <p class="mt-2 text-[#654a2d]">{{ food.description }}</p>
      <p class="mt-4 text-[#3d200a] font-semibold">Harga: Rp {{ food.price }}</p> -->
    </li>
    <!-- {% endfor %} -->
  </ul>
</div>
{% endblock content %}
